.smallcard-container {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    margin: 10px;
    height: 50px;
    background-color: white;
    border: 1px solid black;

}

.smallcard-container > img {
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.smallcard-container h4 {
    display: flex;
    align-items: center;
}

.smallcard-container > div {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
} 