*{
    margin: 0;
    padding:0;
  }
  
  body {
    font-family: 'Varela', sans-serif;
       
  }

h1{
    color: black; 
    font-size: 48px;
    padding-bottom: 1%;
    text-align: center;
   }

h2{
    padding-right: 1%;
    font-size: 16px;
    color:#03071e;
    
}

h3 {
    padding: 2%;
    font-size: 24px;
    color:#1b3a4b;
    text-align: left;
}

h4{
    font-size: 16px;
    text-align: center;
    padding-bottom: 1%;
  }


.topnav {
    overflow: hidden;
    background-color:#023047;
    margin-bottom: 2%;
  }
  
.topnav a {
    float: left;                        /*deixou os icones do navegador superior um ao lado do outro*/
    display: block;
    color: white;                    /*cor da letra no navegador superior*/
    padding: 15px 20px; 
    text-decoration: none;
  }
  
.topnav a:hover {
    background-color:#3E99B7;       /*Cor que fica ao passarmos o mouse*/
    color: black;                    /*Cor da letra no menu superior*/
  }
  
  /* ************************************* Estilo do cabeçalho ************************************* */
.header {
    background-image: url('img/books.jpg');
    padding: 5%;
  }

img{
    display: block;                   
    margin-left: auto;
    margin-right: auto;
    height: 200px;
  }

#icon{
    display: inline;
    height: 40px;
    height: 40px;

  }

.redes_sociais{
    text-align: right; 
  }

/******************************************** Estilo da tabela*******************************/

.tabela{
    margin-left:auto;
    margin-right:auto;
  }

#tabela_form{
    border-spacing: 50px 10px;
}

ul{
    padding-left: 5%;
    text-align: left;
    list-style-position: inside;
    line-height: 2;
  }

  td {
    vertical-align: middle;
    text-align: center;
}



/* ***************  Estilo do formulário para Adicionar Produto***************************** */

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 700px;                   /*Essa é a largura da minha caixa, porém eu alinho todo o texto a direita*/
    line-height: 26px;
    margin-bottom: 10px;
  }
  
input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
  }
  
  
.btn {    
    background-color: #00ddc1;
    margin-right: 64px;
    color: black;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: auto;
  }


  /*****************  Rodapé ***************************/
#mensagem_footer{
    display: inline-flex;
    padding: 1%;
}
  .footer {
    margin-top: 2%;
    padding-top: 1%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#023047;
    color: white;
 }
  
  

