body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

div {
    border: 1px solid black;
}

#main-container {
    height: 100vh;
    display: grid;
    grid-auto-flow: row;
}

.set{
    display: grid;
    grid-template-columns: auto auto auto;
    border: none;
}

.set-Black {
    display: grid;
    grid-template-columns: auto auto;
    border: none;
}

.set-White {
    display: grid;
    grid-template-columns: auto auto auto;
    border: none;
}

#first-block {
    background-color: red;
    width: 100%;
    border: none;
    min-height: 72px;
}

.blue-block {
    background-color: blue;
    margin: 12px;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 72px;
    min-width: 72px;
}

.yellow-block {
    background-color: yellow;
    margin: 12px;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 72px;
    min-width: 72px;

}

.green-block {
    background-color: green;
    margin: 12px;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 72px;
    min-width: 72px;

}

.black-block {
    background-color: black;
    color: white;
    margin: 12px;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 128px;
}

.white-block {
    background-color: white;
    margin: 12px;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 72px;
}

@media screen and (min-device-width : 421px) and (max-device-width : 800px) {
  
    #main-container {
        height: 100%;
    }

    .set, .set-White {
        grid-template-columns: auto auto;
    }

    .green-block{
        width: 100%;
        grid-column: 1 / span 2;
    }

    .set-white{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    #item11{
        grid-column: 1/-1;
    }
    
}

@media screen and (max-device-width : 420px) {
   
    #main-container {
        height: 100%;
    }
   
    .set , .set-White , .set-Black {
        grid-template-columns: auto;
    }

    .white-block , .green-block , .yellow-block , .blue-block , .black-block{
        width: auto;
    }

}