#pond_level1 {
    display: flex;
  justify-content: flex-end;
  }

#pond_level2 {
  display: flex;
  justify-content: center;
}

#pond_level3 {
  display: flex;
  justify-content: space-around
}

#pond_level4 {
  display: flex;
  justify-content: space-between;
}

#pond_level5 {
  display: flex;
  align-items: flex-end;
}

#pond_level6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pond_level7 {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#pond_level8 {
  display: flex;
  flex-direction: row-reverse;
}

#pond_level9 {
  display: flex;
  flex-direction: column;
}

#pond_level10 {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

#pond_level11 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#pond_level12 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

#pond_level13 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}

.yellow_level14 {
  order: 1
  }


.red_level15 {
  order: -1
}
  
.yellow_level16 {
  align-self: flex-end;
}

.yellow_level17 {
  order: 1;
  align-self: flex-end;
}

#pond_level18 {
  display: flex;
  flex-wrap: wrap;
}

#pond_level19 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#pond_level20 {
  display: flex;
  flex-flow: column wrap;
}

#pond_level21 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#pond_level22 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}
  
#pond_level23 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  align-content: center;
  }

#pond-level24{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
  align-content: space-between;
  justify-content: center;
}

  





